.logo{
    width: 260px;
    height: 80px;
    padding-bottom: 20px;
}
footer {
    text-align: center;
    margin-top: 80px;
}
header{
    background-color: rgb(128, 123, 123);
    padding-top: 20px;
}
.bton{
    width: 60px;
    height: 50px;
    border: none;
    background-color: rgb(128, 123, 123);
    border-radius: 10%;
}
.bton:hover{
    background-color: rgb(97, 94, 94);
}
.bton img{
    width: 40-px;
    height: 35px;
}
ul{
    margin-top: 15px;
}
.li-a{
    display: inline;
    padding: 20px;
    font-size: large;
    color: white;
    cursor: pointer;
    border-radius: 10%;
    text-align: center;
}
.li-a:hover{
    background-color: rgb(97, 94, 94);
}
a{
    text-decoration: none;
}
#searchBar{
    display: none;
    text-align: center;
}
.tab{
    margin-top: 40px;
    text-align: center;
}
.racoons{
    margin-top: 40px;
}
.racoons img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.triangle {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
	width: 0;
	height: 0;
	border-left: 200px solid transparent;
	border-right: 200px solid transparent;
	border-bottom: 400px solid #555;
    animation: color 10s infinite;
}
@keyframes color{
    0% {border-bottom-color: aqua;}
    25% {border-bottom-color: blue;}
    50% {border-bottom-color: purple;}
    75% {border-bottom-color: yellow;}
    100% {border-bottom-color: aqua;}
}